<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<div id="addUser" ng-app="addUser" ng-controller="myCtrl" init="$index=0">
    <table>
        <tr>
            <th ng-repeat="x in array">{{x}}</th>
        </tr>
        <tr ng-repeat="x in rows">
            <td >{{x}}</td>
        </tr>

    </table>
</div>
<script>
    var app = angular.module('addUser', []);
    app.controller('myCtrl', function($scope, $http) {
        $http.get("tableColumnsGet.php")
            .then(function (response) {
                $scope.array = response.data;
                data($scope.array);

            });




        var data = function(array) {
            var json = JSON.stringify(array);
            $http({
                method: 'POST',
                url: './tableRowsGet.php',
                data: array
            }).then(function(eredmeny){
                $scope.rows = angular.fromJson(eredmeny.data);
            })
        }
    });
</script>